<h3 class="text-center" style="color: rgb(122, 161, 121);">OUR PRODUCTS</h3>
  <section class="section first-section">
    <div class="container-fluid proizvodiContainer">
        <div class="masonry-blog clearfix">
            <div class="left-side">
                <div class="masonry-box post-media">
                     <img [src]="proizvodi2[0].Slika | async" alt="" class="prviRed" style="object-fit:contain">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                              <span class="bg-green" style="background-color: rgb(122, 161, 121);"><a title="">{{proizvodi2[0].Kategorija}}</a></span>
                              <h4><a style="color: white !important" routerLink="/proizvod2/{{proizvodi2[0].Id}}" class="naslov" title="">{{proizvodi2[0].Naslov}}</a></h4>
                              <small><a style="color: white !important" class="naslov" title="">{{proizvodi2[0].Datum | date }}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->

            <div class="center-side">
                <div class="masonry-box post-media">
                     <img [src]="proizvodi2[1].Slika | async" alt="" class="prviRed" style="object-fit:contain">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                                <span class="bg-green" style="background-color: rgb(122, 161, 121);"><a title="">{{proizvodi2[1].Kategorija}}</a></span>
                                <h4><a style="color: white !important" routerLink="/proizvod2/{{proizvodi2[1].Id}}" class="naslov" title="">{{proizvodi2[1].Naslov}}</a></h4>
                                <small><a style="color: white !important" class="naslov" title="">{{proizvodi2[1].Datum | date }}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                    </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end left-side -->

            <div class="right-side hidden-md-down">
                <div class="masonry-box post-media">
                     <img [src]="proizvodi2[2].Slika | async" alt="" class="prviRed" style="object-fit:contain">
                     <div class="shadoweffect">
                        <div class="shadow-desc">
                            <div class="blog-meta">
                              <span class="bg-green" style="background-color: rgb(122, 161, 121);"><a title="">{{proizvodi2[2].Kategorija}}</a></span>
                              <h4><a style="color: white !important" routerLink="/proizvod2/{{proizvodi2[1].Id}}" class="naslov" title="">{{proizvodi2[2].Naslov}}</a></h4>
                              <small><a style="color: white !important" class="naslov" title="">{{proizvodi2[2].Datum | date }}</a></small>
                            </div><!-- end meta -->
                        </div><!-- end shadow-desc -->
                     </div><!-- end shadow -->
                </div><!-- end post-media -->
            </div><!-- end right-side -->
        </div><!-- end masonry -->
    </div>
</section>
<section class="section first-section">
  <div class="container-fluid proizvodiContainer">
      <div class="masonry-blog clearfix">
          <div class="left-side">
              <div class="masonry-box post-media">
                   <img [src]="proizvodi2[3].Slika | async" alt="" class="prviRed" style="object-fit:contain">
                   <div class="shadoweffect">
                      <div class="shadow-desc">
                          <div class="blog-meta">
                            <span class="bg-green" style="background-color: rgb(122, 161, 121);"><a title="">{{proizvodi2[3].Kategorija}}</a></span>
                            <h4><a style="color: white !important" routerLink="/proizvod2/{{proizvodi2[3].Id}}" class="naslov" title="">{{proizvodi2[3].Naslov}}</a></h4>
                            <small><a style="color: white !important" class="naslov" title="">{{proizvodi2[3].Datum | date }}</a></small>
                          </div><!-- end meta -->
                      </div><!-- end shadow-desc -->
                  </div><!-- end shadow -->
              </div><!-- end post-media -->
          </div><!-- end left-side -->

          <div class="center-side">
              <div class="masonry-box post-media">
                   <img [src]="proizvodi2[4].Slika | async" alt="" class="prviRed" style="object-fit:contain">
                   <div class="shadoweffect">
                      <div class="shadow-desc">
                          <div class="blog-meta">
                              <span class="bg-green" style="background-color: rgb(122, 161, 121);"><a title="">{{proizvodi2[4].Kategorija}}</a></span>
                              <h4><a style="color: white !important" routerLink="/proizvod2/{{proizvodi2[4].Id}}" class="naslov" title="">{{proizvodi2[4].Naslov}}</a></h4>
                              <small><a style="color: white !important" class="naslov" title="">{{proizvodi2[4].Datum | date }}</a></small>
                          </div><!-- end meta -->
                      </div><!-- end shadow-desc -->
                  </div><!-- end shadow -->
              </div><!-- end post-media -->
          </div><!-- end left-side -->

          <div class="right-side hidden-md-down">
              <div class="masonry-box post-media">
                   <img [src]="proizvodi2[5].Slika | async" alt="" class="prviRed" style="object-fit:contain">
                   <div class="shadoweffect">
                      <div class="shadow-desc">
                          <div class="blog-meta">
                            <span class="bg-green" style="background-color: rgb(122, 161, 121);"><a title="">{{proizvodi2[5].Kategorija}}</a></span>
                            <h4><a style="color: white !important" routerLink="/proizvod2/{{proizvodi2[5].Id}}" class="naslov" title="">{{proizvodi2[5].Naslov}}</a></h4>
                            <small><a style="color: white !important" class="naslov" title="">{{proizvodi2[5].Datum | date }}</a></small>
                          </div><!-- end meta -->
                      </div><!-- end shadow-desc -->
                   </div><!-- end shadow -->
              </div><!-- end post-media -->
          </div><!-- end right-side -->
      </div><!-- end masonry -->
  </div>
</section>

<div class="dugme">
    <button type="button" class="btn btn-success" style="margin: 4%; background-color: rgb(64, 94, 64); border: none;" routerLink="/proizvodi2">All products</button>
    
    </div>
  
<br/>


