
<h1>dfsd</h1>

<div class="row aktuelno">
  <div class="col-lg-6 pb-5">
    <h1 id="iot" data-aos="fade-up" data-aos-duration="1000" class="text-center mt-5 pt-5" style="color: #366956">TVC d.o.o.</h1>
    <br>

    <p class="text-center pl-5 pr-5">
      CARE BEDS FOR COMFORT, SAFETY AND EASE OF OPERATION
    </p>
    <p class="text-center pl-5 pr-5">
        Wir bieten ein ausgewähltes Produktsortiment sowohl für die häusliche Pflege als auch für das Gesundheitswesen. Unsere Pflegebetten sind bekannt für hohe Qualität, Ergonomie, Sicherheit, Komfort und Hygiene, kombiniert mit einem ansprechenden Design. Funktionale und einfache Handhabungsmerkmale sind eine große Erleichterung im täglichen Leben von Patient und Pflegepersonal. Unser erfahrenes Team ist bestrebt, unsere Produkte zu einem optimalen Preis-/Leistungsverhältnis anzubieten. Wir würden uns freuen, bald von Ihnen zu hören, um Ihre spezifischen Bedürfnisse zu besprechen. Im Störungsfall hilft Ihnen unser kompetenter Kundenservice schnellstmöglich, freundlich und direkt weiter.
    </p>
    <br>
  </div>
  <div class="col-lg-6 aktSlika">
    <div class="iotSlika">

    </div>
  </div>
</div>

