.red {
  padding-top: 100px;
}
h4 {
  margin-left: 0 !important;
  margin-top: 0 !important;
}
img {
  height: 200px !important;
  width: 100%;
  object-fit: cover;
}

a {
  color: rgb(64, 94, 64) !important;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  grid-gap: 20px;
  color: rgba(126, 126, 126, 0.685);
  font-size: 15px;
}

.grid-cell {
  border: solid 1px rgba(64, 94, 64, 0.514);
  height: auto;
  border-radius: 10px;
  text-align: right, bottom;

}

.mojDiv {
  padding-left: 5% !important;
}
.vijestiBanner {
background-image: url(../../../assets/Slike/vijestinaslovna1.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 500px;
  background-position: center;

}
.vijest{
  padding-top: 260px;
  padding-left: 130px;
  font-size: 65px;
  color:rgb(255, 255, 255);
  letter-spacing: 10px;
  
}
