
<h1>dfsd</h1>

<div class="row aktuelno">
  <div class="col-lg-6 pb-5">
    <h1 id="iot" data-aos="fade-up" data-aos-duration="1000" class="text-center mt-5 pt-5" style="color: #366956">TVC d.o.o.</h1>
    <br>

    <p class="text-center pl-5 pr-5">
      CARE BEDS FOR COMFORT, SAFETY AND EASE OF OPERATION
    </p>
    <p class="text-center pl-5 pr-5">
      Nudimo odabrani asortiman proizvoda za kućnu njegu i njegu zdravlja. Naši kreveti za njegu poznati su po visokoj kvaliteti, ergonomiji, sigurnosti, udobnosti i higijeni, u kombinaciji s privlačnim dizajnom. Funkcionalne i jednostavne značajke rukovanja veliko su olakšanje u svakodnevnom životu pacijenta i medicinske sestre. Naš iskusni tim nastoji ponuditi naše proizvode po optimalnom omjeru cijene i učinka. Bilo bi nam drago da nam se uskoro javite kako bismo razgovarali o vašim specifičnim potrebama. U slučaju bilo kakvog kvara naš stručni tim za korisničku podršku pomoći će Vam u najkraćem mogućem roku, prijateljski i izravno.
    </p>
    <br>
  </div>
  <div class="col-lg-6 aktSlika">
    <div class="iotSlika">

    </div>
  </div>
</div>

